<ion-header>
    <ion-navbar color="primary">


        <button ion-button icon-only menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>

        <ion-title>
            &nbsp;
            <img src="assets/icon/jaha.ico"> &nbsp;
        </ion-title>


        <ion-buttons end>

            <button ion-button icon-only end (click)="actualizar()">
                        <ion-icon name="refresh"></ion-icon>
                      </button>
            <button ion-button icon-only end>
                <ion-icon name="ios-mail" isActive="false" ></ion-icon>
              </button> &nbsp;&nbsp;&nbsp;&nbsp;
        </ion-buttons>



    </ion-navbar>
</ion-header>

<ion-content>
    <ion-menu [content]="mycontent" type="overlay">
        <ion-content>
            <p>Coming soon...</p>
        </ion-content>
    </ion-menu>
</ion-content>
<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content>

    <ion-toolbar color="secondary">
        <ion-segment [(ngModel)]="Ubicaciones">
            <ion-segment-button value="Lista">
                Lista
            </ion-segment-button>
            <ion-segment-button value="Mapa" disabled="true">
                Mapa
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>
    <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
        <ion-refresher-content pullingText="Pull to refresh..." refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div [ngSwitch]="Ubicaciones">
        <ion-list *ngSwitchCase="'Lista'">
            <ion-item>
                <ion-card *ngFor="let item of items">
                    <table>
                        <tr>
                            <td>
                                <ion-item>
                                    <ion-avatar item-start>
                                        <img src='assets/imgs/doctora.jpg'>
                                    </ion-avatar>
                                </ion-item>
                            </td>
                            <td>
                                <p>Desde: {{ item.desde }}</p>
                                <p>A: {{ item.hasta }}</p>
                                <p>Hora: {{ item.hora }}</p>
                                <p>Fecha : {{ item.fecha }}</p>
                            </td>
                        </tr>


                    </table>
                    <ion-buttons end>
                        <button ion-button color="primary">
                        Ver
                      </button>
                    </ion-buttons>
                </ion-card>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Mapa'">
            <ion-item>
                <h2>Aqui hay un Mapa</h2>
            </ion-item>
        </ion-list>
    </div>
    <ion-fab right bottom>
        <button (click)="agregar()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>