<ion-header>
    <ion-navbar color="primary">
        <ion-title> Nuevo Viaje</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <form #myForm="ngForm" (ngSubmit)="guardar()">
            <ion-item>
                <ion-label floating>Desde</ion-label>
                <ion-input type="text" [(ngModel)]="viaje.desde" name="desde" required #desde="ngModel">{{ viaje.desde }}</ion-input>
            </ion-item>
            <span *ngIf="desde.errors && hasta.touched">
                <span [hidden]="!desde.errors?.required">
                    <ion-label style="color: red; margin-left: 16px;"> Desde es requerido </ion-label>
                </span>
            </span>
            <ion-item>
                <ion-label floating>Hasta</ion-label>
                <ion-input type="text" [(ngModel)]="viaje.hasta" name="hasta" required #hasta="ngModel">{{ viaje.hasta }}</ion-input>
            </ion-item>
            <span *ngIf="hasta.errors && hasta.touched">
                <span [hidden]="!hasta.errors?.required">
                    <ion-label style="color: red; margin-left: 16px;"> Hasta es requerido </ion-label>
                </span>
            </span>
            <ion-item>
                <ion-label floating>Fecha</ion-label>
                <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="viaje.fecha" name="fecha" required #fecha="ngModel">{{ viaje.fecha }}</ion-datetime>
            </ion-item>

            <span *ngIf="fecha.errors && fecha.touched">
                <span [hidden]="!fecha.errors?.required">
                    <ion-label style="color: red; margin-left: 16px;"> Fecha es requerido </ion-label>
                </span>
            </span>
            <ion-item>
                <ion-label floating>Hora</ion-label>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="viaje.hora" name='hora' required #hora="ngModel">{{viaje.hora}}</ion-datetime>
            </ion-item>

            <span *ngIf="hora.errors && hora.touched">
                <span [hidden]="!hora.errors?.required">
                    <ion-label style="color: red; margin-left: 16px;"> Hora es requerido </ion-label>
                </span>
            </span>

            <ion-item>
                <ion-label floating>Cantidad de asientos</ion-label>
                <ion-select [(ngModel)]="viaje.asientos" name="asientos" required #asientos="ngModel">
                    <ion-option value="1">1</ion-option>
                    <ion-option value="2">2</ion-option>
                    <ion-option value="3">3</ion-option>
                    <ion-option value="4">4</ion-option>
                    <ion-option value="5">5</ion-option>
                    <ion-option value="6">6</ion-option>
                </ion-select>
            </ion-item>
            <span *ngIf="asientos.errors && asientos.touched">
                <span [hidden]="!asientos.errors?.required">
                    <ion-label style="color: red; margin-left: 16px;"> Cantidad de asientos es requerido </ion-label>
                </span>
            </span>
            <ion-item>
                <ion-label floating>Costo por asiento</ion-label>
                <ion-input type="text" [(ngModel)]="viaje.costo" name="costos" required #costo="ngModel">{{ viaje.costo }}</ion-input>
            </ion-item>
            <span *ngIf="costo.errors && costo.touched">
                <span [hidden]="!costo.errors?.required">
                    <ion-label style="color: red; margin-left: 16px;"> Costo es requerido </ion-label>
                </span>
            </span>
            <ion-item>
                <ion-label floating>Referencias</ion-label>
                <ion-input type="text" [(ngModel)]="viaje.referencias" name="referencias" required #referencias="ngModel">{{ viaje.referencias }}</ion-input>
            </ion-item>
            <span *ngIf="referencias.errors && referencias.touched">
                <span [hidden]="!referencias.errors?.required">
                    <ion-label style="color: red; margin-left: 16px;">  Referencias es requerido </ion-label>
                </span>
            </span>





        </form>
    </ion-list>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <button (click)="guardar()" [disabled]="!myForm.form.valid" type="submit" ion-button block>Publicar</button>

    </ion-toolbar>
</ion-footer>